
*.log

*.aps

*.json

*.png

*.vhd

*.rpt

*.xml

*.directive

*.v

*.tcl

*.exe

*.mk

*.app

wlsb_hls/.settings/

wlsb_hls/.cproject

wlsb_hls/.project

wlsb_hls/hls.app

wlsb_hls/.apc/

wlsb_hls/wlsb_encoder1/

tcp_changes/.apc/

decide_state/.cproject

decide_state/.project

decide_state/.settings/

decide_state/.apc/

decide_state/solution1/.autopilot/

decide_state/solution1/.debug/

decide_state/solution1/csim/

decide_state/solution1/sim/

decide_state/solution1/impl/

decide_state/solution1/syn/

tcp_changes/.cproject

tcp_changes/.project

tcp_changes/.settings/

tcp_changes/solution1/
