
*.log

*.aps

*.json

*.png

*.vhd

*.rpt

*.xml

*.directive

*.v

*.tcl

*.exe

*.mk

*.app

*.project

*.cproject

wlsb_hls/.settings/

wlsb_hls/.apc/

wlsb_hls/wlsb_encoder1/

tcp_changes/.apc/

decide_state/.settings/

decide_state/.apc/

decide_state/solution1/.autopilot/

decide_state/solution1/.debug/

decide_state/solution1/csim/

decide_state/solution1/sim/

decide_state/solution1/impl/

decide_state/solution1/syn/

tcp_changes/.settings/

tcp_changes/solution1/

decide_packet/.apc/

uncomp_fields/.settings/

uncomp_fields/.apc/

decide_packet/.settings/
