
*.log

wlsb_hls/.settings/

wlsb_hls/.cproject

wlsb_hls/.project

*.xml

wlsb_hls/hls.app

wlsb_hls/.apc/

wlsb_hls/wlsb_encoder1/.autopilot/

wlsb_hls/wlsb_encoder1/.debug/

wlsb_hls/wlsb_encoder1/csim/

wlsb_hls/wlsb_encoder1/sim/

*.aps

*.json

*.png

*.vhd

*.rpt

wlsb_hls/wlsb_encoder1/script.tcl

*.directive

*.v

tcp_changes/.apc/

tcp_changes/

decide_state/.cproject

decide_state/.project

decide_state/.settings/

decide_state/.apc/

*.app

decide_state/solution1/.autopilot/

decide_state/solution1/.debug/

*.tcl

*.exe

*.mk

decide_state/solution1/csim/

decide_state/solution1/sim/

decide_state/solution1/impl/

decide_state/solution1/syn/